/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}


.footer-link {
    text-decoration: none;
}

.dir-sec {
    height: 50px;
    max-height: 50px;
    border-radius: 3.5px !important;
    text-align: center !important;
    padding-top: 9px !important;
    padding-left: 3px !important;
}

.dir-btn {
    width: 50px;
    max-width: 50px;
    height: 50px;
    max-height: 50px;
    border-radius: 3.5px !important;
    text-align: center !important;
    padding: 12px 0 0 0 !important;
    }

.sec-head {
    border-radius: 3.5px;
}

.MapMenuIcon {
    min-height: 7vh;
    width: auto;
    text-decoration: none;
    max-height: 9vh;
}

.setwidth-100 {
    min-height: 8vh;
    max-height: 10vh;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
}

.bdy {
    padding-top: 10vh;
}

#map {
    height: 400px; /* The height is 400 pixels */
    width: 100%; /* The width is the width of the web page */
}