@page
@model IndexModel
@{
    Layout = "./Shared/_Publayout";
    ViewData["Title"] = "territori.mobi";
    ViewData["LeftTitle"] = "territori.mobi";
}

<div class="row">

    <table class="table">
        <tbody>
            @foreach (var item in Model.Cong)
            {
                <tr>
                    <td>
                        <a asp-page="./Directory" asp-route-CongName="@item.CongName">@Html.DisplayFor(modelItem => item.CongName)</a>
                    </td>
                </tr>
            }
            <tr>
                <td>
                    <a asp-page="./Admin/Congregation/">Administration Portal</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
