@page
@model IndexModel
@{
    ViewData["Title"] = "territori.mobi";
    ViewData["LeftTitle"] = "territori.mobi";
}

<div class="row">

    @foreach (var item in Model.Cong)
    {
        <div class="d-flex bg-primary dir-sec mt-1 mb-1 w-100 justify-content-center">
            <a class="text-white h4 pt-1 text-decoration-none" asp-page="./Edit" asp-route-id="@item.CongId"><h3>@Html.DisplayFor(modelItem => item.CongName)</h3></a>
        </div>
     }
</div>
