@page
@model territory.mobi.Pages.Admin.Congregation.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Cong</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cong.CongId" class="control-label"></label>
                <input asp-for="Cong.CongId" class="form-control" />
                <span asp-validation-for="Cong.CongId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cong.CongName" class="control-label"></label>
                <input asp-for="Cong.CongName" class="form-control" />
                <span asp-validation-for="Cong.CongName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cong.ServId" class="control-label"></label>
                <input asp-for="Cong.ServId" class="form-control" />
                <span asp-validation-for="Cong.ServId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cong.PageId" class="control-label"></label>
                <input asp-for="Cong.PageId" class="form-control" />
                <span asp-validation-for="Cong.PageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cong.UpdateDatetime" class="control-label"></label>
                <input asp-for="Cong.UpdateDatetime" class="form-control" />
                <span asp-validation-for="Cong.UpdateDatetime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
