@page
@model IndexModel
@{
    ViewData["Title"] = "territori.mobi";
    ViewData["LeftTitle"] = "territori.mobi";
}

<div class="row">

    <table class="table ">
        <tbody>
            @foreach (var item in Model.Cong)
            {
                <tr>
                    <td>
                        <a class="d-flex text-white bg-primary dir-sec mt-1 mb-1 w-100" asp-page="./Directory" asp-route-CongName="@item.CongName"><h3>@Html.DisplayFor(modelItem => item.CongName)</h3></a>
                    </td>
                </tr>
            }
            <tr>
                <td>
                    <a class="d-flex text-white bg-primary dir-sec mt-1 mb-1 w-100" asp-page="./Admin/Index"><h3>Administration Portal</h3></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
