@page
@model territory.mobi.Pages.Admin.Congregation.Maps.Image.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Images</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Images.ImgId" class="control-label"></label>
                <input asp-for="Images.ImgId" class="form-control" />
                <span asp-validation-for="Images.ImgId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Images.ImgText" class="control-label"></label>
                <input asp-for="Images.ImgText" class="form-control" />
                <span asp-validation-for="Images.ImgText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Images.ImgPath" class="control-label"></label>
                <input asp-for="Images.ImgPath" class="form-control" />
                <span asp-validation-for="Images.ImgPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Images.ImgImage" class="control-label"></label>
                <input asp-for="Images.ImgImage" class="form-control" />
                <span asp-validation-for="Images.ImgImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Images.MapId" class="control-label"></label>
                <input asp-for="Images.MapId" class="form-control" />
                <span asp-validation-for="Images.MapId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Images.Updatedatetime" class="control-label"></label>
                <input asp-for="Images.Updatedatetime" class="form-control" />
                <span asp-validation-for="Images.Updatedatetime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
