@page
@model territory.mobi.Pages.Admin.Congregation.DoNotCalls.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h4>Do Not Call for Map @Model.DoNotCall.Map.MapKey</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DoNotCall.AptNo" class="control-label"></label>
                <input asp-for="DoNotCall.AptNo" class="form-control" />
                <span asp-validation-for="DoNotCall.AptNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoNotCall.StreetNo" class="control-label"></label>
                <input asp-for="DoNotCall.StreetNo" class="form-control" />
                <span asp-validation-for="DoNotCall.StreetNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoNotCall.StreetName" class="control-label"></label>
                <input asp-for="DoNotCall.StreetName" class="form-control" />
                <span asp-validation-for="DoNotCall.StreetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoNotCall.Suburb" class="control-label"></label>
                <input asp-for="DoNotCall.Suburb" class="form-control" />
                <span asp-validation-for="DoNotCall.Suburb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoNotCall.Note" class="control-label"></label>
                <input asp-for="DoNotCall.Note" class="form-control" />
                <span asp-validation-for="DoNotCall.Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Show do not call on public page?</label>
                <select asp-for="DoNotCall.Display" class="form-control">
                    <option value="false">No</option>
                    <option value="true">Yes</option>
                </select>
                <span asp-validation-for="DoNotCall.Display" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default bg-primary text-white" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="/Admin/Congregation/Maps/Edit" asp-route-id="@Request.Query["id"]">Back to Map</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
